<div class="swap-icons" fxLayout="row" style="justify-content: center;">
  <div fxLayout="column" fxFlex="33" (click)="iconClicked($event, firstCoin)" style="cursor: pointer;">
    <div fxLayout="row" style="justify-content: center; padding: 2px 2px 10px;">You are exchanging</div>
    <div fxLayout="row" style="border: 1px solid;padding: 10px;border-radius: 3px; background: #1d2431;">
      <div fxLayout="column" [@coinSwaps]="toCoinAnimationSwapState" fxFlex="40">
        <a href="" style="display: flex;justify-content: left;align-items: center;">
          <img style="max-height: 90px;" [src]="firstCoin.icon" alt="">
        </a>
      </div>
      <div fxHide.xs="true" fxHide.sm="true" fxLayout="column" fxFlex="50"
           style="display: flex;justify-content: center;align-items: left;">
        <strong style="color: white;">{{firstCoin.fullName}}</strong>
      </div>
      <div fxLayout="column" fxFlex="10" style="display: flex;justify-content: center;align-items: center;">
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="13" fxFlexAlign="center" style="    margin-top: 30px;">
    <a *ngIf="swapEnabled;else swap_disabled"
       style="color: deepskyblue!important; display: flex;justify-content: center;align-items: center;" href=""
       (click)="animateCoinSwap($event)">
      <div fxShow.gt-xs="true" fxShow.xs="false">
        <i class="material-icons md-48">swap_horiz</i>
      </div>
      <div fxShow.gt-xs="false" fxShow.xs="true">
        <i class="material-icons md-36">swap_horiz</i>
      </div>
    </a>
    <ng-template #swap_disabled>
      <div fxShow.gt-xs="true" fxShow.xs="false">
        <i class="material-icons md-48">swap_horiz</i>
      </div>
      <div fxShow.gt-xs="false" fxShow.xs="true">
        <i class="material-icons md-36">swap_horiz</i>
      </div>
    </ng-template>
  </div>
  <div fxLayout="column" fxFlex="33" (click)="iconClicked($event, secondCoin)" style="cursor: pointer;">
    <div fxLayout="row" style="justify-content: center; padding: 2px 2px 10px;">You are exchanging</div>
    <div fxLayout="row" style="border: 1px solid;padding: 10px;border-radius: 3px; background: #1d2431;">
      <div fxLayout="column" [@coinSwaps]="fromCoinAnimationSwapState" fxFlex="40">
        <a href="" style="display: flex;justify-content: left;align-items: center;">
          <img style="max-height: 90px;" [src]="secondCoin.icon" alt="">
        </a>
      </div>
      <div fxHide.xs="true" fxLayout="column" fxFlex="50"
           style="display: flex;justify-content: center;align-items: left;">
        <strong style="color: white;">{{secondCoin.fullName}}</strong>
      </div>
      <div fxLayout="column" fxFlex="10" style="display: flex;justify-content: center;align-items: center;">
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
  </div>
</div>
