@import '../../../styles/variables';

.swap-icons{
  text-align: center;
  width: 100%;
  margin: 15px 0px;
}

.swap-icon{
  vertical-align: middle;
  display: inline-block;

  &.arrows{

    .fa{
      color: $text-color;
    }
  }

  img{
    width: 60px;
    height: 60px;
  }
}
