@import '../../../styles/variables';

.swap-icons{
  text-align: center;
  width: 100%;
  margin: 15px 0px;
}

.swap-icon{
  vertical-align: middle;
  display: inline-block;

  img{
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);
    border-radius: 100px;

    transition: transform 200ms ease-in-out;

    &:hover {
      -moz-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
      -o-transform: translate(2px, 2px);
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    } 
  }

}
