@import '../../../styles/variables';

.mat-raised-button{
    width: 100%;
    background-color: $main-blue !important;
    border: none;
    height: 50px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 115%;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }