@import '../../../styles/variables';

.mat-raised-button{
    width: 100%;
    background: $text-color !important;
    border: none;
    height: 60px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 100%;
    box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);
    -webkit-box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);
    -moz-box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);  
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
}