@import '../../../styles/variables';

.input-box{
    position: relative;
    input{
        text-align: right;
    }

    .usd{
        color: $text-color;
    }
}

.coin-symbol{
    position: absolute;
    left: 0;
    padding: 0 10px;
    top: 35%;
    background: $main-gray;
}