<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center" class="container">
  <mat-card *ngIf="passwordCardVisible" fxFlex="30%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="96%" fxFlex.xl="15%"
            class="card"
            fxLayout="column" fxLayoutAlign="space-between center" [@scaleInOut]="scaleInOut">
    <div class="card-text">Use password to encrypt your data</div>
    <mat-form-field fxFlex="100">
      <input type="password" placeholder="Password" name="password" matInput [(ngModel)]="pw">
      <mat-hint *ngIf="pw && pw.length < 8" align="start"><strong style="color: red;">Password must be at least 8
        characters long</strong></mat-hint>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input type="password" placeholder="Repeat Password" name="password_repeat" matInput [(ngModel)]="pwRepeat">
      <mat-hint *ngIf="pwRepeat && pw !== pwRepeat" align="start"><strong style="color: red;">
        Passwords do not match!
      </strong></mat-hint>
    </mat-form-field>
    <div class="card-button">
      <app-altcoinio-button fxFlex="50" (click)="skip()">Skip</app-altcoinio-button>
      &nbsp;
      <app-altcoinio-button [disabled]="(!pw || !pwRepeat) || (pw && pw.length < 8 || pw !== pwRepeat)" fxFlex="50" (click)="submitPassword()">Submit</app-altcoinio-button>
    </div>
  </mat-card>
  <mat-card *ngIf="cardVisible" fxFlex="30%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="96%" fxFlex.xl="15%"
            class="card"
            fxLayout="column" fxLayoutAlign="space-between center" [@scaleInOut]="scaleInOut">
    <div class="card-text">This twelve word phrase is the only way to restore your wallet. Please write it down on paper
      and store it somewhere safe and secure.
    </div>
    <div class="card-button">
      <app-altcoinio-button (click)="writePhrase()">Write Phrase</app-altcoinio-button>
    </div>
  </mat-card>
</div>
