<div fxLayout="row" fxLayoutAlign="center stretch">
    <div fxFlex.xl="25%" fxFlex.lg="50%" fxFlex.md="70%" fxFlex.sm="80%" fxFlex.xs="100%">
        <div class="message-box">
            <info-message [message]="infoMsg" [type]="messageTypes.Info"></info-message>
        </div>
    </div>
</div>
<div class="wallet-slide gradient" fxLayout="row" fxLayoutAlign="start center">
    <a href="" *ngFor="let wallet of wallets"  (click)="selectWalletCard($event, wallet)">
        <div class="wallet-card" [class.active]="selectedWalletId == wallet.id">
            <img class="coin-icon" [src]="wallet.icon"  alt="">
            <div *ngIf="(wallet.$loading | async)">
                <div class="spinner">
                    <div class="circle-loader">
                    </div>
                </div>
            </div>
            <div *ngIf="!(wallet.$loading | async)">
                <div class="coin-name">{{wallet.fullName}}</div>
                <div class="coin-balance">{{ (((wallet.$balance | async)?.balance) || 0) | number : '1.2-8' }} {{wallet.name}}</div>
                <div class="coin-usd">{{wallet.usd}} USD</div>
            </div>
        </div>
    </a>
</div>
<div class="options-slide gradient" fxLayout="row" fxLayoutAlign="center center">
    <button *ngFor="let option of walletOptions" 
        class="wallet-option" 
        (click)="selectWalletOption(option)"
        [class.active]="selectedOptionId == option.id">{{option.name}}</button>
</div>
<div *ngIf="selectedOptionId == 0" class="wallet-content gradient">
    <div fxLayout="row" fxLayoutAlign="center stretch">
        <div fxFlex.xl="25%" fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="80%" fxFlex.xs="100%">
            <div class="input-label">Amount</div>
            <div class="input-box"  type="number">
                <input [value]="sendAmount | number : '1.2-18'" type="number"/>
            </div>
            <div class="input-label">Address</div>
            <div class="input-box">
                <input/>
            </div>
            <div class="input-label">Network fee</div>
            <div class="input-box">
                <input readonly value="0.00011901"/>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end end" fxLayoutAlign.xs="center stretch">
                <div fxFlex="25" fxFlex.xs="1" class="start-button">
                    <app-shapeshift-button>Send</app-shapeshift-button> 
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="selectedOptionId == 1" class="wallet-content gradient">
    <div fxLayout="row" fxLayoutAlign="center stretch">
        <div fxFlex.xl="25%" fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="80%" fxFlex.xs="100%">
            <div class="input-label">Address</div>
            <div class="input-box">
                <input readonly value="{{ ($btcBalance | async)?.address }}" id="btcAddress"/>
                <p class="copy-icon">
                    <a (click)="copyBtcAddress($event)">
                        <i class="material-icons">content_copy</i>
                    </a>
                </p>
            </div>
            <div class="qr-code-image">
                <img src="assets/icon/qr.png" alt="">
            </div>
        </div>
    </div>
</div>
<div *ngIf="selectedOptionId == 2" class="wallet-content gradient">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.xl="25%" fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="80%" fxFlex.xs="100%">
            No transactions
        </div>
    </div>
</div>
