@import '../../styles/variables';

.input-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $text-color;
}

.input-box{
    margin-bottom: 20px;
}

.message-box{
    margin: 15px 5%;
}

.search-box{
    margin: 0 5%;
    padding-top: 10px;
    width: 90%;
}

.hide-coins-box{
    margin-bottom: 3%;
    padding: 15px 0px;
}

.no-coins{
    margin: 0 auto;
}

.wallet-slide{
    width: 100%;
    padding: 20px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .wallet-card{
        display: inline-block;
        position: relative;
        height: 70px;
        min-width: 150px;
        margin: 0px 30px;
        padding: 15px 15px 15px 50px;
        background: $main-gray;
        box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);
        border-radius: 11px;
        cursor: pointer;

        &.active{
            box-shadow: 1px 2px 14px 0 rgba(255,255,255,0.50);
        }

        transition: all 200ms ease-in-out;

        &:hover {
            -moz-transform: translate(-2px, -2px);
            -ms-transform: translate(-2px, -2px);
            -o-transform: translate(-2px, -2px);
            -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px)
        }

        .coin-icon{
            position: absolute;
            width: 60px;
            height: 60px;
            top: 20px;
            left: -30px;
        }

        .coin-name{
            color: white;
            font-size: 125%;
        }

        .coin-balance{
            color: white;
            font-size: 100%;
            margin-top: 5px;
        }

        .coin-usd{
            color: $text_color;
            font-size: 85%;
        }

        .spinner{
            text-align: left;
            margin-top: 8px;
            margin-left: 50px;
        }
    }
}

.options-slide{
    width: 100%;
    padding: 15px;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 3%;

    button.wallet-option{
        border: none;
        background: $main-gray;
        box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);
        border-radius: 100px;
        font-size: 85%;
        color: #FFFFFF;
        padding: 15px 0px;
        width: 150px;
        text-align: center;
        margin: 0px 10px;
        cursor: pointer;

        &.active{
            box-shadow: 1px 2px 14px 0 rgba(255,255,255,0.50);
        }

        transition: all 200ms ease-in-out;

        &:hover {
            -moz-transform: translate(-2px, -2px);
            -ms-transform: translate(-2px, -2px);
            -o-transform: translate(-2px, -2px);
            -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px)
        }
    }
}

@media only screen and (min-width: 510px) {
    .options-slide{
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 3%;
    }
}

.wallet-content{
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.qr-code-image {
    background: $main-gray;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);
    border-radius: 11px;
    img {
        width: 200px;
        height: 200px;
    }
}

.start-button{
    margin-top: 15px;
}