@import '../../styles/variables';

.header-icon{
    align-self: center;
    height: 34px;
    margin: 6px 0px;
}

.card{
    padding: 15px;
}

.label{
    text-align: left;
}

.row{
    margin-bottom: 5%;
    width: 100%;
    overflow: hidden;
}

.input-box{
    margin-bottom: 0px;
    input{
        text-align: left;
    }
}

.form{
    margin-bottom: 15px;

    .form-header{
        padding: 10px 5px;
    }
}

.spacer{
    height: 50px;
}

.small-spacer{
    height: 15px;
}

.message-box{
    margin-bottom: 15px;
}