<div fxLayout="row" fxLayoutAlign="center center">
    <div fxHide.sm="true" fxHide.xs="true">
    </div>
    <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xl="40%" fxFlex.lg="60%" fxFlex.md="70%" fxFlex.sm="80%" fxFlex.xs="95%">
        <div fxFlex="1">
            <div class="block">
                <div class="cell-xs"></div>
                <div class="cell-xl"><p class="label blue">Address</p></div>
                <div class="cell"><p class="label blue">Balance</p></div>
                <div class="cell-xs"><p class="label blue">Faucet</p></div>
            </div>
            <div class="block">
                <div class="cell-xs"><p class="label blue">ETH</p></div>
                <div class="cell-xl">{{ ($ethBalance | async)?.address }}</div>
                <div class="cell"><p class="label green">{{ ($ethBalance | async)?.balance }}</p></div>
                <div class="cell-xs"><p class="label"><a target="_blank" href="https://faucet.rinkeby.io/">ETH FAUCET</a></p></div>
            </div>
            <div class="block">
                <div class="cell-xs"><p class="label blue">BTC</p></div>
                <div class="cell-xl">{{ ($btcBalance | async)?.address }}</div>
                <div class="cell"><p class="label green">{{ ($btcBalance | async)?.balance }}</p></div>
                <div class="cell-xs"><p class="label"><a target="_blank" href="https://testnet.coinfaucet.eu/en/">BTC FAUCET</a></p></div>
            </div>
        </div>
    </div>
    <div fxHide.sm="true" fxHide.xs="true">
    </div>
</div>
