@import '../../styles/variables';

.block{
    flex: 1 1 auto;
    min-width: 70%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.cell-xs{
    width: 10%;
}

.cell-xl{
    width: 50%;
}

.cell{
    width: 15%;
}

.label{
    text-align: left;
}
