<mat-card fxFlex="100" style="background: #2A3141; border: 2px solid #374457; margin-bottom: 10px;">
  <mat-card-header>
    <div mat-card-avatar
         style="border: 1px solid white; border-radius: 0px; width: 50px; height: 50px; padding: 10px;">
      <div mat-card-avatar class="example-header-image"></div>
    </div>
    <mat-card-title style="color: white;">Bitcoin</mat-card-title>
    <mat-card-subtitle style="color: rgb(51, 122, 183);">$5.98 <br> <span style="color: red;">-5%</span>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/graph.png" alt="Photo of a Shiba Inu">
  <mat-card-actions style="text-align: center;">
    <button style="background: rgb(51, 122, 183); color: white;" mat-raised-button>BUY</button>
    <button style="background: rgb(51, 122, 183); color: white;" mat-raised-button>SELL</button>
  </mat-card-actions>
</mat-card>
