<ng-content></ng-content>
<div class="input-label" [style.text-align]="alignLabel">{{label}}</div>
<div *ngIf="!usd" class="input-box">
  <input [type]="type" [disabled]="disabled" placeholder="0" [readonly]="disabled" [ngModel]="value" (ngModelChange)="value=$event" step="any">
  <div class="input-label coin-symbol">{{coin.name}}</div>
</div>
<div *ngIf="usd" class="input-box usd">
  <input [type]="type" [disabled]="disabled" placeholder="0" [readonly]="disabled" [ngModel]="value" (ngModelChange)="value=$event" step="any">
  <div  class="input-label coin-symbol usd">USD</div>
</div>
