@import '../../../styles/variables';

.info-message{
    color: white;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    text-align: center;
    padding: 2px 15px;
    font-size: 100%;
}

.info{
    background-color: $main-green;
}

.error{
    background-color: $main-red;
}

.warning{
    background-color: $warning;
}