@import '../../../styles/variables';

.swap-proccess{
  border: 1px solid $border-color;
}
.content-block{
  padding: 10px 0;
}

.buy-button{
  background: $main-green;
  color: white;
}

.filter {
  width: 95%;
}

.orders-container{
  margin: 10px;
}

.last-cell{
  text-align: right;
}