<div class="swap-icons" fxLayout="row">
  <div fxLayout="column" fxFlex="33"  fxFlex="33" fxFlex.sm="45">
    <div class="swap-icon" [@coinSwaps]="toCoin.animationSwapState">
      <img [src]="fromCoin.iconOutline" alt="">
    </div>
  </div>
  <div fxLayout="column" fxFlex="33" fxFlex.sm="10" style="display: inline-block;" class="swap-icon">
    <a href="" style="margin-top: 40px;" (click)="animateCoinSwap($event)">
      <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
      <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
    </a>
  </div>
  <div fxLayout="column" fxFlex="33" fxFlex.sm="45">
    <div class="swap-icon" [@coinSwaps]="fromCoin.animationSwapState">
      <img [src]="toCoin.iconOutline" alt="">
    </div>
  </div>
</div>
