<div class="swap-icons" fxLayout="row" style="justify-content: center;">
  <app-coin-selector (click)="iconClicked($event, fromCoin)" fxLayout="column" fxFlex="33"
                     [coin]="fromCoin"></app-coin-selector>
  <div fxLayout="column" fxFlex="13" fxFlexAlign="center" style="    margin-top: 30px;">
    <a *ngIf="swapEnabled;else swap_disabled"
       style="color: deepskyblue!important; display: flex;justify-content: center;align-items: center;" href=""
       (click)="animateCoinSwap($event)">
      <div fxShow.gt-xs="true" fxShow.xs="false">
        <i class="material-icons md-48">swap_horiz</i>
      </div>
      <div fxShow.gt-xs="false" fxShow.xs="true">
        <i class="material-icons md-36">swap_horiz</i>
      </div>
    </a>
    <ng-template #swap_disabled>
      <div fxShow.gt-xs="true" fxShow.xs="false">
        <i class="material-icons md-48">swap_horiz</i>
      </div>
      <div fxShow.gt-xs="false" fxShow.xs="true">
        <i class="material-icons md-36">swap_horiz</i>
      </div>
    </ng-template>
  </div>
  <app-btc-eth-coin-selector (select)="onCoinSelected($event)" *ngIf="(fromCoin.name !== 'ETH') || fromCoin.name !== 'ETH'" fxLayout="column" fxFlex="33"></app-btc-eth-coin-selector>
  <app-coin-selector *ngIf="fromCoin.name === 'ETH'" (click)="iconClicked($event, toCoin)" fxLayout="column" fxFlex="33"
                     [coin]="toCoin"></app-coin-selector>
</div>
