@import '../../../styles/variables';

.swap-steps{
  margin: auto;
}

.swap-step{
  p{
    display: inline-block;
    font-size: 15px;
    color: $text-color;

    &.active{
      color: $main-green;
    }

    &.completed{
      color: $main-green;
    }
  }
}
