<div class="container">
  <div *ngIf="!swapProcess.submitAmount" class="swap" [@flyInOut]="'in'" (@flyInOut.done)="firstAnimationDone($event)">
    <app-swap-icon [fromCoin]="eth" [toCoin]="btc"></app-swap-icon>
    <div class="swap-inputs">
      <app-shapeshift-input [coin]="swapProcess.depositCoin">
        <p class="label">for the amount of</p>
      </app-shapeshift-input>
      <app-shapeshift-input [coin]="swapProcess.receiveCoin" [disabled]="true">
        <p class="label">you are geting</p>
      </app-shapeshift-input>
      <app-shapeshift-button (click)="doSubmit()"></app-shapeshift-button>
    </div>
  </div>
  <!--<div *ngIf="swapProcess.showQRCode" class="swap">-->
    <!--<app-qr-code></app-qr-code>-->
  <!--</div>-->
  <!--<div *ngIf="swapProcess.showLink" class="swap" [@flyInOut]="'in'">-->
    <!--<p class="label">Copy this URL and send to second party for deposit</p>-->
    <!--<div class="input-box">-->
      <!--<p class="url-copy">http://altcoin.io/hfdMnj7hFtjjhg85hGhguyr4ghgf</p>-->
      <!--<p class="input-value">-->
        <!--<a href="">-->
          <!--<i class="fa fa-clone" aria-hidden="true"></i>-->
        <!--</a>-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="spinner">-->
      <!--<div class="circle-loader" [ngClass]="{'load-complete' : !secondSpinner}">-->
        <!--<div [hidden]="secondSpinner" class="checkmark draw"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
