<div class="swap-initiate form">
  <div class="swap-initiate form-header">
    <p>You are exchanging currency</p>
  </div>
  <div class="swap-initiate form-content">
    <app-swap-icon
    [fromCoin]="receiveCoin"
    [toCoin]="depositCoin"
    [swapEnabled]="false">
    </app-swap-icon>
    <p style="color: red;">{{$errorInitiate | async}}</p>
    <div *ngIf="!($initiateData | async)">
      <!-- <mat-spinner *ngIf="($loading | async)" style="left: 38%;"></mat-spinner> -->
      <div *ngIf="!($loading | async)">
        <div class="swap-amounts" fxLayout="column" fxLayoutAlign="center start">
          <div class="swap-give"
            fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center"
            fxLayout.xs="column"
            fxLayoutAlign.xs="center flex-start">
            <div><p class="label">You are giving</p></div>
            <div><p class="label red big-font">{{receiveCoin.amount}} {{receiveCoin.name}}</p></div>
          </div>
          <div class="swap-receive"
            fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center"
            fxLayout.xs="column"
            fxLayoutAlign.xs="center flex-start">
            <p class="label">You are getting</p>
            <p class="label green big-font">{{depositCoin.amount}} {{depositCoin.name}}</p>
          </div>
        </div>
        <redeem-address [coin]="depositCoin"></redeem-address>
        <app-shapeshift-button (click)="startInitiate()">
          Agree
        </app-shapeshift-button>
        <div class="message-box">
        <info-message [message]="infoMsg" [type]="messageTypes.Info"></info-message>
        </div>
      </div>
    </div>
  </div>
  <div class="swap-initiate form-footer">
          <p>BTC miner fee: 0.0001 BTC</p>
  </div>
</div>
