@import '../../../styles/variables';

.close-button{
    padding: 10px 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.coin-card{
    text-align: center;
    margin: 10px;
    width: calc(100% - 20px);
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        -moz-transform: translate(-2px, -2px);
        -ms-transform: translate(-2px, -2px);
        -o-transform: translate(-2px, -2px);
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
        opacity: 1 !important;
    }    
}

.coin-icon{
    width: 60px;
    height: 60px;
}

.coin-name{
    color: white;
    font-size: 125%;
}

.coin-balance{
    color: white;
    font-size: 100%;
    margin-top: 5px;
}

.coin-usd{
    color: $text_color;
    font-size: 85%;
}
