<div fxLayout="column" fxLayoutAlign="center end">
  <button class="close-button" matDialogClose mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div fxLayout="row" fxLayoutWrap fxLayoutAlign="start start">
  <mat-card *ngFor="let coin of data.coins"
      [style.opacity]="(data.selectedCoin && data.selectedCoin.name == coin.name) ? '1' : '0.65'"
      (click)="dialogRef.close(coin)" 
      class="coin-card"
      fxLayout="column" 
      fxFlex="23%"
      fxFlex.xs="90%"
      fxFlex.sm="45%"
      fxFlex.md="30%"
      fxFlex.xl="15%">
    <div>
      <img class="coin-icon" [src]="coin.icon" alt="">
      <div *ngIf="(coin.$balance | async)?.loading">
        <div class="spinner">
          <div class="circle-loader">
          </div>
        </div>
      </div>
      <div *ngIf="!(coin.$balance | async)?.loading">
        <div class="coin-name">{{coin.fullName}}</div>
        <div class="coin-balance">{{ (((coin.$balance | async)?.balance) || 0) | number : '1.2-8' }} {{coin.name}}</div>
        <div class="coin-usd">{{ ((coin.$amountUSD | async) || 0) | number : '1.0-2' }} USD</div>
      </div>
    </div>
  </mat-card>
</div>
