.qr-code-image {
  width: 50%;
  margin: auto;
  padding-top: 10px;
}

.qr-code-image img {
  width: 100%;
  height: 100%;
}

.deposit-address {
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 20px;
}

.spinner{
  width: 100%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}
