<p class="label">You don't have enough bitcoin in wallet</p>
<p class="label">Deposit to this address</p>
<div #qrPlaceholder></div>
<div class="qr-code-image">
  <ngx-qrcode
    [qrc-value] = "'asdasdasd'"
    qrc-class = "qr-code"
    qrc-errorCorrectionLevel = "L">
  </ngx-qrcode>
</div>

<p class="deposit-address">185a5KBxKfv7rmNsEhbwv6Ah4j8j7uZmhe</p>
<p class="label">BTC miner fee: 0.001 BTC</p>
<div class="spinner">
  <div class="circle-loader" [ngClass]="{'load-complete' : !firstSpinner}">
    <div [hidden]="firstSpinner" class="checkmark draw"></div>
  </div>
</div>
