<div class="form">
  <div class="swap-start form-header">
    <p>You don't have enough bitcoin in wallet</p>
    <p>Deposit to this address</p>
  </div>
  <div class="form-content">
    <div class="qr-code-image">
        <div #qrPlaceholder></div>
        <ngx-qrcode
        [qrc-value] = "QRCodeValue"
        qrc-class = "qr-code"
        qrc-errorCorrectionLevel = "L">
      </ngx-qrcode>
    </div>
    <div class="deposit-address">
      <!-- for large devices -->
      <p fxShow.gt-xs="true" fxShow.xs="false">
        185a5KBxKfv7rmNsEhbwv6Ah4j8j7uZmhe
      </p>
      <!-- for small devices -->
      <p fxShow.gt-xs="false" fxShow.xs="true" class="small">
        185a5KBxKfv7rmNsEhbwv6Ah4j8j7uZmhe
      </p>
    </div>
    <div class="spinner">
      <div class="circle-loader" [ngClass]="{'load-complete' : !waitingDepositSpinner}">
        <div [hidden]="waitingDepositSpinner" class="checkmark draw"></div>
      </div>
    </div>
    <div class="message-box">
    <info-message [message]="infoMsg" [type]="messageTypes.Info"></info-message>
    </div>
  </div>
  <div class="form-footer">
    <p>BTC miner fee: 0.001 BTC</p>
  </div>
</div>
