<mat-card fxFlex="100" class="token-card">
  <mat-card-header>
    <div mat-card-avatar class="token-icon">
        <img class="token-img" [src]="token.icon" alt="">
    </div>
    <mat-card-title class="token-name">{{token.fullName}}</mat-card-title>
    <mat-card-subtitle *ngIf="statsLoaded" class="blue">${{tokenPrice | number : '1.0-8'}}<br>
      <span *ngIf="tokenPerc <= 0" class="red">{{tokenPerc}}%</span>
      <span *ngIf="tokenPerc > 0" class="green">+{{tokenPerc}}%</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="contentLoaded">
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" [(ngModel)]="chartMode" class="graph-buttons" fxLayout="row">
    <mat-button-toggle fxFlex="100" value="price" (click)="showPrice()">Price</mat-button-toggle>
    <mat-button-toggle fxFlex="100" value="volume" (click)="showVolume()">Volume</mat-button-toggle>
    <mat-button-toggle fxFlex="100" value="market" (click)="showMarket()">Market cap</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
  <mat-card-content *ngIf="contentLoaded" class="chart-container">
        <ngx-charts-area-chart
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel">
        </ngx-charts-area-chart>
  </mat-card-content>
  <mat-card-content *ngIf="!contentLoaded" >
      <div class="spinner">
        <div class="circle-loader">
        </div>
      </div>
  </mat-card-content>
  <div style="clear: both"></div>
  <mat-card-actions *ngIf="!token.comingSoon" fxLayout="row" fxLayoutAlign="center">
    <button class="token-button" mat-raised-button (click)="buyToken()">BUY</button>
    <button class="token-button" mat-raised-button (click)="sellToken()">SELL</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="token.comingSoon" fxLayout="row" fxLayoutAlign="center">
    <button disabled class="token-button" mat-raised-button>COMING SOON</button>
  </mat-card-actions>
</mat-card>
