<app-shapeshift-input
  [disabled]="true"
  [type]="text"
  [ngModel]="offerTime">
  <p class="label">Offer time</p>
</app-shapeshift-input>

<app-shapeshift-input
  [disabled]="true"
  [type]="text"
  [ngModel]="address">
  <p class="label">Address</p>
</app-shapeshift-input>

<app-shapeshift-input
  [disabled]="true"
  [type]="text"
  [coin]="coin"
  [ngModel]="amount">
  <p class="label">Give</p>
</app-shapeshift-input>

<app-shapeshift-input
  [disabled]="true"
  [coin]="toReceiveCoin"
  [ngModel]="toReceiveAmount">
  <p class="label">Receive</p>
</app-shapeshift-input>
