<coin-input
  [disabled]="true"
  [type]="text"
  [ngModel]="offerTime">
  <p class="label">Expires in</p>
</coin-input>

<coin-input
  [disabled]="true"
  [type]="text"
  [ngModel]="address">
  <p class="label">Address</p>
</coin-input>

<coin-input
  [disabled]="true"
  [type]="text"
  [coin]="depositCoin"
  [ngModel]="depositCoin.amount">
  <p class="label">Receive</p>
</coin-input>

<coin-input
  [disabled]="true"
  [coin]="receiveCoin"
  [ngModel]="receiveCoin.amount">
  <p class="label">Give</p>
</coin-input>
