<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center" class="container">
  <div fxFlex="35%" fxFlex.md="45%" fxFlex.sm="55%" fxFlex.xs="96%" fxFlex.xl="20%" class="message-box">
    <info-message *ngIf="hasError" [message]="errorMsg" [type]="messageTypes.Error"></info-message>
  </div>
</div>
<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center">
  <mat-card *ngIf="cardVisible" fxFlex="35%" fxFlex.md="45%" fxFlex.sm="55%" fxFlex.xs="96%" fxFlex.xl="20%"
            class="card"
            fxLayout="column" fxLayoutAlign="space-between center" [@scaleInOut]="scaleInOut">
    <div class="card-text">Enter your twelve word phrase here to restore your wallet</div>
    <mat-form-field *ngIf="easterUnlocked" style="width: 100%;">
      <input matInput placeholder="Easter Egg Quick Import" [ngModel]="easterEggValue"
             (ngModelChange)="onEasterEggInsert($event)">
    </mat-form-field>
    <div class="words" fxLayout="row" fxLayoutWrap fxLayoutAlign="start start">
      <mat-form-field *ngFor="let word of words; let i = index"
                      class="word"
                      fxFlex="33%"
                      fxFlex.xs="50%"
                      fxFlex.sm="33%"
                      fxFlex.md="25%"
                      fxFlex.xl="25%">
        <input placeholder="{{i + 1}}" [(ngModel)]="words[i].value" name="word{{i}}" matInput>
      </mat-form-field>
    </div>
    <div class="card-button">
      <app-shapeshift-button (click)="importWallet()">Import</app-shapeshift-button>
    </div>
  </mat-card>
</div>
