@import '../../../styles/variables';

.spinner{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.url-copy{
    display: inline-block;
    padding: 0px 10px;
    flex: 1 1 auto;
    text-align: left;
    font-weight: 500;
    margin: 0px;
    color: $link-blue;
}



