<div class="form" [@flyInOut]="state">
  <div class="swap-start form-header">
    <p>Copy this URL and send to second party for deposit</p>
  </div>
  <div class="form-content">
    <div class="spinner">
      <p [hidden]="!linkCopied" class="green success-message">
        Link has been successfully copied
      </p>
      <div class="circle-loader" [ngClass]="{'load-complete' : linkCopied}">
        <div [hidden]="!linkCopied" class="checkmark draw"></div>
      </div>
    </div>
    <div class="input-box">
      <input class="url-copy" value="http://altcoin.io/initiate/{{$link | async}}" id="inputLink"/>
      <p class="copy-icon">
        <!-- <a routerLink="/initiate/{{$link | async}}">
          <i class="fa fa-clone" aria-hidden="true"></i>
        </a> -->
        <a (click)="copyLink($event)">
          <i class="fa fa-clone" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="form-footer">
    <p>BTC miner fee: 0.001 BTC</p>
  </div>
</div>


