<div class="form">
  <div class="form-content">
    <div class="spinner">
      <p [hidden]="!linkCopied" class="green success-message">
        Link has been successfully copied
      </p>
      <div class="circle-loader" [ngClass]="{'load-complete' : linkCopied}">
        <div [hidden]="!linkCopied" class="checkmark draw"></div>
      </div>
    </div>
    <div class="input-label">Copy this URL and send to second party for deposit</div>
    <div class="input-box">
      <input class="url-copy" value="http://localhost:4200/initiate/{{$link | async}}" id="inputLink"/>
      <p class="copy-icon">
        <!-- <a routerLink="/initiate/{{$link | async}}">
          <i class="material-icons">content_copy</i>
        </a> -->
        <a (click)="copyLink($event)">
            <i class="material-icons">content_copy</i>
        </a>
      </p>
    </div>
    <div class="message-box">
      <info-message [message]="infoMsg" [type]="messageTypes.Info"></info-message>
    </div>
  </div>
</div>


