$nav-button-color: #00838F;
$background-color: #1c2431;
$text-color: #9cabbd;
$main-gray: #2A3141;
$border-color: #374457;
$main-blue: #0091ea;
$loader-size: 2em;
$check-offset: $loader-size/20;
$check-height: $loader-size/2 - $check-offset;
$check-width: $check-height/2 - $check-offset/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 2px;
$progress-bar: #4d5e80;
$main-green: #00BFA5;
$second-gray: #2b364a;
$link-blue: #65afe5;
$main-red: #d73e5e;
$warning: #e9a420;
$check-color: $main-green;