<h3>Logout will delete your private key!</h3>
<p class="logout-text">Please be sure to have your mnemonic code phrase stored before signing out!
We do not hold any of your private keys and we are not able to restore it back!</p>


<mat-accordion>
  <mat-expansion-panel class="pass-dump" (opened)="dumpPrivateKey()">
    <mat-expansion-panel-header class="pass-dump-header">
      <mat-panel-title class="pass-dump-title">
        If you have not stored your mnemonic code phrase please click this to dump your raw private key!
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="pass-card">
        <mat-form-field *ngIf="hadPassword && !dumpedResult" class="pass-field">
          <input type="password" [(ngModel)]="password" matInput placeholder="Confirm password">
        </mat-form-field>
    </mat-card>
    <mat-card *ngIf="dumpedResult">
      <p style="max-width: 400px;">
        <strong class="pass">{{dumpedResult}}</strong>
      </p>
    </mat-card>
    <mat-action-row *ngIf="hadPassword">
      <button (click)="dumpPrivateKey()" mat-button color="accent">Dump Key</button>
      <!-- <button mat-button color="accent" (click)="copyPass()">Copy</button>
      <button mat-button color="accent" (click)="savePass()">Save</button> -->
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<mat-card *ngIf="hadPassword" class="pass-card">
    <mat-form-field *ngIf="hadPassword" class="pass-field">
      <input type="password" [(ngModel)]="confirmPassword" matInput placeholder="Confirm password">
    </mat-form-field>
</mat-card>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button color="accent" (click)="deleteAcc()">Logout</button>
  <button mat-button color="accent" (click)="dialogRef.close(false)">Cancel</button>
</div>
