<!--{{initiateData | json}}-->
<h1>Keep for yourself</h1>
<app-shapeshift-input
  [disabled]="true"
  [type]="text"
  [ngModel]="initiateData.secret">
  <p class="label">Secret</p>
</app-shapeshift-input>

<h1>To participator</h1>
<p class="label">Copy this URL and send to second party to participate</p>
<div class="input-box">
  <input class="url-copy" value="http://altcoin.io/participate/{{participateLink}}"/>
  <p class="input-value">
    <a routerLink="/participate/{{participateLink}}">
      <i class="fa fa-clone" aria-hidden="true"></i>
    </a>
  </p>
</div>
