.container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@import '../../../styles/variables';

.row{
  flex: 1 1 auto;
  min-width: 50%;
}

.content{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  
  .content-block{
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 20px;
  }
}