<h1 style="text-align: center; color: white;">Exchange cryptocurrency at the best rate.</h1>
<div fxLayout="row" fxLayoutAlign="center center" class="content-block">
  <div fxFlex.xl="25%" fxFlex.lg="50%" fxFlex.md="80%" fxFlex.sm="100%" fxFlex.xs="100%"
       style="border-radius: 4px; border: 2px dashed #9cabbd78;">
    <div fxLayout="row" fxLayoutAlign="center center" class="content-block">
      <div fxFlex.xl="25%" fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="70%" fxFlex.xs="100%">
        <progress-steps></progress-steps>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
