<div fxLayout="row" fxLayoutAlign="center center">
  <div fxHide.sm="true" fxHide.xs="true">
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xl="25%" fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="70%" fxFlex.xs="100%">
    <div fxFlex="1" class="content-block">
        <app-progress-bar></app-progress-bar>    
      </div>
      <div fxFlex="1" class="content-block">
          <router-outlet></router-outlet>
      </div>
  </div>
  <div fxHide.sm="true" fxHide.xs="true">
  </div>
</div>
