<h1 style="text-align: center;">Exchange cryptocurrency at the best rate.</h1>
<div fxLayout="row" fxLayoutAlign="center center" class="content-block">
  <div fxFlex.xl="25%" fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="70%" fxFlex.xs="100%">
      <progress-steps></progress-steps>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="content-block">
  <div  fxFlex.xl="30%" fxFlex.lg="50%" fxFlex.md="85%" fxFlex.sm="100%" fxFlex.xs="100%">
      <router-outlet></router-outlet>
  </div>
</div>
<div fxLayout="row" class="content-block" fxLayoutAlign="center center">
  <div fxFlex.xl="25%" fxFlex.lg="70%" fxFlex.md="80%" fxFlex.sm="100%" fxFlex.xs="100%">
    <h5>
      TOKENS
    </h5>
  </div>
</div>

