@import '../../../styles/variables';

.container{
    margin: 10% 0 0 0;
}

.card{
    margin: 10px;
    min-height: 250px;
    padding: 38px 16px;
    color: white;
    text-align: center;

    .card-title{
        font-size: 125%;
    }

    .card-text{
        font-size: 100%;
        width: 80%;
    }

    .card-button{
        width: 80%;
        margin-top: 10px;
    }

    .card-content{
        margin-top: 10px;
    }
}

.hint{
    color: $main-red;
}