<nav [class.nav-up]="headerHidden">
  <a routerLink="/swap" class="logo">
    <img [src]="altcoinLogo">
  </a>
  <div class="nav-links" fxHide.xs="true">
      <ul>
        <li><a routerLink="/wallet" routerLinkActive="active" #wallet="routerLinkActive">Wallet</a></li>
        <li><a routerLink="/swap" routerLinkActive="active" #swap="routerLinkActive">Swap</a></li>
        <li><a target="_blank" href="https://blog.altcoin.io/">Blog</a></li>
        <li><a target="_blank" href="https://blog.altcoin.io/worlds-first-atomic-swap-wallet-from-altcoin-io-released-6f1cfc52d1cc">FAQs</a></li>
        <li><a target="_blank" href="mailto:support@altcoin.io">Contact</a></li>
      </ul>
  </div>

</nav>
<div class="tabs" fxHide="true" fxShow.xs="true">
  <nav mat-tab-nav-bar>
      <a mat-tab-link
        routerLink="/wallet"
        routerLinkActive #wallet="routerLinkActive"
        [active]="wallet.isActive">
      <i class="material-icons">account_balance_wallet</i>
    </a>
    <a mat-tab-link
        routerLink="/swap"
        routerLinkActive #swap="routerLinkActive"
        [active]="swap.isActive">
      <i class="material-icons md-36">swap_horiz</i>
    </a>
    <a mat-tab-link
        routerLink="/links"
        routerLinkActive #links="routerLinkActive"
        [active]="links.isActive">
      <i class="material-icons">help_outline</i>
    </a>
  </nav>
</div>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <ul>
    <!-- <li><img src="/assets/svg/rings.svg"/></li> -->
    <li>
      <a href="https://t.me/altcoinexchange">
        <i class="fa fa-telegram fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/altcoin_io">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</footer>

