@import '../styles/variables';

nav{
  position: fixed;
  padding: 0px 15px;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: $main-gray;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 62px;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

main{
  min-height: -webkit-calc(100% - 132px);    
  min-height: -moz-calc(100% - 132px); 
  min-height: calc(100% - 132px);
  overflow-y: scroll;  
  padding-top: 62px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;

  > * {
    min-height: 100%;
  }
}

a.logo{
  color: #ffffff !important;
  font-size: 32px;
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  float: left;
  cursor: pointer;
  img{
    height: 35px;
    margin: 5px 0px;
  }
}

.nav-links{
  height: 100%;
  display: inline-block;
  ul{
    list-style-type: none;
    margin: 0px;
    height: 100%;
    vertical-align: middle;
    display: table;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    li{
      display: table-cell;
      vertical-align: middle;
      padding: 0px 10px;

      a{
        color: $text-color;
      }

      &.active{
        a{
          color: $main-blue;
        }
      }
    }
  }
}

.bars-menu{
  float: right;
  padding-top: 20px;
}

.mobile-menu{
  position: absolute;
  background-color: $main-gray;
  opacity: 0.95;
  width: 100%;
  height: 0px;
  z-index: 100;
  transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  .menu-links{
    width: inherit;
    height: inherit;
    transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    .menu-link-item{
      visibility: hidden;
      text-align: center;
      padding: 10%;
      a{
        font-size: 44pt;
        font-weight: 500;
        opacity: 1;
      }
    }
  }
  &.open{
    height: 100%;
    .menu-links{
      padding: 62px 0px;
      transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
      .menu-link-item{
        visibility: visible;
      }
    }
  }
  
}

footer {
  width: 100%;
  height: 70px;
  background-color: $main-gray;

  ul {
    text-align: center;
    width: 220px;
    list-style: none;
    height: 70px;
    margin: auto;
    padding: 0;

    li {
      width: 32px;
      height: 32px;
      display: inline-block;
      margin-right: 15px;

      a {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-top: 20px;
      }
    }
  }  
}