<div class="swap-start form">
        <div class="swap-start form-header">
                <p>Choose which currency you want to exchange</p>
        </div>
        <div class="swap-start form-content">
                <app-swap-icon [fromCoin]="$depositCoin | async" [toCoin]="$receiveCoin | async"
                (swapped)="swapDepositRecieveCoins()"></app-swap-icon>
                <app-swap-inputs (swap)="onSwap($event)"
                        [depositCoin]="$depositCoin | async"
                        [receiveCoin]="$receiveCoin | async">
                </app-swap-inputs>
        </div>
        <div class="swap-start form-footer">
                <p>BTC miner fee: 0.0001 BTC</p>
        </div>
</div>

