<div fxLayout="column" fxFlex="100" style="cursor: pointer;">
  <div fxLayout="row" style="justify-content: center; padding: 2px 2px 10px;">You are exchanging</div>
  <div fxLayout="row" style="border: 1px solid;padding: 10px;border-radius: 3px; background: #1d2431;">
    <div fxLayout="column" [@coinSwaps]="fromCoinAnimationSwapState" fxFlex="40">
      <a href="" style="display: flex;justify-content: left;align-items: center;">
        <img style="max-height: 90px; height: 90px;" [src]="coin.icon" alt="">
      </a>
    </div>
    <div fxHide.xs="true" fxLayout="column" fxFlex="50"
         style="display: flex;justify-content: center;align-items: left;">
      <strong style="color: white;">{{coin.fullName}}</strong>
    </div>
    <div fxLayout="column" fxFlex="10" style="display: flex;justify-content: center;align-items: center;">
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </div>
</div>
