<div class="swap-inputs" fxLayout="row" fxLayout.xs="column">
  <div fxFlex="33" fxFlex.xs="1">
    <app-shapeshift-input [label]="'You are exchanging'" [coin]="depositCoin"
      [ngModel]="depositCoin.amount" (ngModelChange)="updateDepositCoinAmount($event)">
    </app-shapeshift-input>
  </div>
  <div fxFlex="33" fxFlex.xs="1">
  </div>
  <div fxFlex="33" fxFlex.xs="1">
    <app-shapeshift-input [label]="'You are getting'" [coin]="receiveCoin" 
      [ngModel]="receiveQuote" disabled>
    </app-shapeshift-input>
  </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch">
  <div fxFlex="25" fxFlex.xs="1" class="start-button">
    <app-shapeshift-button (click)="submitSwap()">Start</app-shapeshift-button> 
  </div>
</div>
  <!-- <redeem-address [coin]="receiveCoin"></redeem-address> -->