<div class="swap-inputs">
  <app-shapeshift-input [coin]="depositCoin"
                        (ngModelChange)="updateDepositCoinAmount($event)"
                        [(ngModel)]="depositCoin.amount">
    <p class="label">for the amount of</p>
  </app-shapeshift-input>
  <app-shapeshift-input [value]="receiveQuote" [coin]="receiveCoin" [disabled]="true">
    <p class="label">you are getting</p>
  </app-shapeshift-input>
  <app-shapeshift-button (click)="submitSwap()">Start</app-shapeshift-button>
  <div class="swap-receive">
    <p class="label">You are getting <span class="green big-font">{{receiveQuote}} {{receiveCoin.name}}</span></p>
  </div>
</div>
