<div fxLayout="row" fxLayoutAlign="center stretch">
  <div fxFlex.xl="25%" fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="80%" fxFlex.xs="100%">
    <div class="input-label">Address</div>
    <div class="input-box">
      <input class="copy-address" readonly [value]="address" id="coinAddress"/>
      <p class="copy-icon">
        <a (click)="copyReceiveAddress($event)">
          <i class="material-icons">content_copy</i>
        </a>
      </p>
    </div>
    <div class="qr-code-image">
      <div id="qrcode"></div>
    </div>
  </div>
</div>
