<mat-toolbar [class.nav-up]="headerHidden">

  <a routerLink="/swap" class="logo">
    <img [src]="altcoinLogo">
  </a>
  <span class="app-toolbar-filler"></span>
  <div class="nav-links" fxHide.xs="true">
    <ul>
      <li><a routerLink="/wallet" routerLinkActive="active" #wallet="routerLinkActive">Wallet</a></li>
      <li><a routerLink="/swap" routerLinkActive="active" #swap="routerLinkActive">Swap</a></li>
      <li><a (click)="scrollToOrders()">Order book</a></li>
    </ul>
  </div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="logout()"> Logout</button>
  </mat-menu>

  <button *ngIf="hasAcc" class="menu-button" mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<main>
  <div *ngIf="routerLoading" class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
  <router-outlet>
  </router-outlet>
</main>
<div class="tabs" fxHide="true" fxShow.xs="true">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="/wallet"
       routerLinkActive #wallet="routerLinkActive"
       [active]="wallet.isActive">
      <i class="material-icons">account_balance_wallet</i>
    </a>
    <a mat-tab-link
       routerLink="/swap"
       routerLinkActive #swap="routerLinkActive"
       [active]="swap.isActive">
      <i class="material-icons md-36">swap_horiz</i>
    </a>
    <a mat-tab-link
       routerLink="/links"
       routerLinkActive #links="routerLinkActive"
       [active]="links.isActive">
      <i class="material-icons">help_outline</i>
    </a>
  </nav>
</div>
<footer class="footer">
  <div fxHide.xs="true" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100" class="copyright" fxLayout="row" fxLayoutAlign="center center">©2015-2018 altcoin.io</div>
    <div fxFlex="100" class="about" fxLayout="row" fxLayoutAlign="center center">
        <ul>
          <li><a target="noopener" href="https://blog.altcoin.io/">Blog</a></li>
          <li>|</li>
          <li><a target="noopener" href="https://blog.altcoin.io/upgrades-to-our-atomic-swap-wallet-and-what-to-expect-next-3d6b2a1f4ec6">FAQs</a></li>
          <li>|</li>
          <li><a target="noopener" href="mailto:support@altcoin.io">Contact</a></li>
        </ul>
    </div>
    <div fxFlex="100" class="media" fxLayout="row" fxLayoutAlign="center center">
      <ul>
          <li>
            <a target="noopener" href="https://t.me/altcoinexchange">
              <img src="assets/icon/telegram-icon.png" alt="Telegram">
            </a>
          </li>
          <li>
            <a target="noopener" href="https://twitter.com/altcoin_io">
              <img src="assets/icon/twitter-icon.png" alt="Telegram">
            </a>
          </li>
        </ul>
    </div>
  </div>
</footer>
