$nav-button-color: #00838F;
$background-color: #1c2431;
$text-color: #9cabbd;
$main-gray: #283142;
$border-color: #374457;
$main-blue: rgb(51, 122, 183);
$brand-success: $main-blue;
$loader-size: 6em;
$check-offset: $loader-size/20;
$check-height: $loader-size/2 - $check-offset;
$check-width: $check-height/2 - $check-offset/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 5px;
$check-color: $brand-success;
$progress-bar: #4d5e80;