@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables';
@import 'helpers';
@import 'loader';
@import 'tabs';
@import 'icons';

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: $background-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857143;
  color: $text-color;
}

@media only screen and (max-width: 600px) {
     body {
        font-size: 12px;
     }
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: $text-color;
}
:-moz-placeholder {
 color:  $text-color;
 opacity:  1;
}
::-moz-placeholder {
 color:  $text-color;
 opacity:  1;
}
:-ms-input-placeholder {
 color:  $text-color;
}
::-ms-input-placeholder {
 color:  $text-color;
}

input:focus::-webkit-input-placeholder {
  color:transparent;
}
input:focus:-moz-placeholder {
  color:transparent;
}
input:focus::-moz-placeholder {
  color:transparent;
}
input:focus:-ms-input-placeholder {
  color:transparent;
}

a{
  text-decoration: none;
  color: $text-color;
}

.fa{
  color: $text-color;
}

.input-box{
  background: $main-gray;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);
  -webkit-box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);
  -moz-box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.50);  
  margin-bottom: 15px;
  display: flex;

  input{
    flex: 1 1 auto;
    font-size: 100%;
    margin: 0px;
    padding: 10px;
    background-color: $main-gray;
    color: $text-color;
    text-align: center;
    border: none;
    border-style: none;
    border-radius: 11px;
    width: 70px;
    min-height: 40px;
  }
  input:focus{
    outline: none;
  }
}

.input-label{
  color: white;
  margin-bottom: 10px;
}

.label{
  text-align: center;
  text-transform: uppercase;
  margin: 6px 0px;
  font-size: 12px;

  &.active{
    color: white;
  }

}

.form{

  .form-header{
    background-color: $second-gray;
    padding: 20px 5px;
    text-align: center;
    p{
        font-size: 100%;
        margin: 0px;
    }
  }

  .form-content{
    padding: 5% 8%;
  }

  .form-footer{
    background-color: $second-gray;
    padding: 10px 0px;
    p{
        margin: 0px;
        text-align: center;
        font-size: 85%;
    }
  }

}

@media only screen and (max-width: 600px) {
  .form {
    border-right: none;
    border-left: none;

    .form-content{
      padding: 5%;
    }

  }
}

.qr-code {
  text-align: center;
  img{
    width: 100%;
    height: auto;
  }
}

.copy-icon{
  flex: 0 1 auto;
  display: inline;
  margin-right: 10px;
  font-weight: 600;
  a{
    cursor: pointer;
    color: white;
  }
}

.gradient{
  background-image: radial-gradient(50% 218%, #2A3141 50%, $background-color 100%);
  background-image: -webkit-radial-gradient(50% 218%, #2A3141 50%, $background-color 100%);
  background-image: -o-radial-gradient(50% 218%, #2A3141 50%, $background-color 100%);
  background-image: -moz-radial-gradient(50% 218%, #2A3141 50%, $background-color 100%);
}
