@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables';
@import 'loader';

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: $background-color;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $text-color;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-input-placeholder { 
  color: $text-color;
}
:-moz-placeholder { 
 color:  $text-color;
 opacity:  1;
}
::-moz-placeholder {
 color:  $text-color;
 opacity:  1;
}
:-ms-input-placeholder { 
 color:  $text-color;
}
::-ms-input-placeholder { 
 color:  $text-color;
}

a{
  text-decoration: none;
}

.fa{
  color: $text-color;
}

.input-box{
  background-color: $second-gray;
  border: 1px solid $border-color;
  margin-bottom: 15px;
  display: flex;

  input{
    flex: 1 1 auto;
    font-size: 14px;
    margin: 0px;
    padding: 10px;
    background-color: $second-gray;
    color: $text-color;
    text-align: center;
    border: none;
    border-style: none;
    font-weight: 400;
  }
  input:focus{
    outline: none;
  }
}

.label{
  text-align: center;
  text-transform: uppercase;
  margin: 6px 0px;
  font-size: 12px;
  font-weight: 600;

  &.active{
    color: $main-blue;
  }

}

.green{
  color: $main-green;
}

.big-font{
  font-size: 16px;
}

.form{
  background-color: $main-gray;
  border: 1px solid $border-color;  

  .form-header{
    background-color: $second-gray;
    border-bottom: 1px solid $border-color;  
    padding: 20px 0px;
    p{
        font-size: 16px;
        font-weight: 500;
        margin: 0px;
        text-align: center;
    }
  }

  .form-content{
    padding: 40px 60px 20px 60px;
  }

  .form-footer{
    border-top: 1px solid $border-color;  
    background-color: $second-gray;
    padding: 10px 0px;
    p{
        margin: 0px;
        text-align: center;
        font-size: 12px;
    }
  }

}

.qr-code {
  text-align: center;
}

.qr-code > img {
  height:23vh;
}
