@import '../../../styles/variables';

.input-icon{
  flex: 0 0 auto;
  align-self: center;
  height: 34px;
  margin: 6px;
}

.input-value{
  flex: 0 0 auto;
  align-self: center;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 600;
  border-left: 1px solid $border-color;
}
