<div class="form">
  <div class="swap-start form-header">
    <p>Please wait until the swap is complete</p>
  </div>
  <div class="form-content">
    <div fxLayout="column" fxLayoutAlign="center start" class="swap-steps" fxFlex.gt-xs="50%" fxFlex.xs="100%">
      <app-shapeshift-status-spinner [status]="status?.initiated"
                                     text="INITIATED"></app-shapeshift-status-spinner>
      <app-shapeshift-status-spinner [status]="status?.participated"
                                     text="PARTICIPATED"></app-shapeshift-status-spinner>
      <app-shapeshift-status-spinner [status]="status?.redeeming"
                                     text="REDEEMING"></app-shapeshift-status-spinner>
      <app-shapeshift-status-spinner [status]="status?.done" text="DONE"></app-shapeshift-status-spinner>
    </div>
  </div>
  <div class="form-footer">
    <p>BTC miner fee: 0.001 BTC</p>
  </div>
</div>
