<div class="form">
    <div class="swap-start form-header">
      <p>Please wait until the swap is complete</p>
    </div>
    <div class="form-content">
      <div fxLayout="column" fxLayoutAlign="center start" class="swap-steps" fxFlex.gt-xs="50%" fxFlex.xs="100%"> 
          <div class="spinner swap-step">
              <div class="circle-loader" [ngClass]="{'load-complete' : initiated}">
                <div [hidden]="!initiated" class="checkmark draw"></div>
              </div>
              <p class="completed">INITIATED</p>
          </div>
          <div class="spinner swap-step">
              <div class="circle-loader" [ngClass]="{'load-complete' : participated}">
                <div [hidden]="!participated" class="checkmark draw"></div>
              </div>
              <p class="active">PARTICIPATED</p>
          </div>
          <div class="spinner swap-step">
              <div class="circle-loader" [ngClass]="{'load-complete' : redeeming}">
                <div [hidden]="!redeeming" class="checkmark draw"></div>
              </div> 
              <p>REDEEMING</p>
          </div>
          <div class="spinner swap-step">
              <div class="circle-loader" [ngClass]="{'load-complete' : done}">
                <div [hidden]="!done" class="checkmark draw"></div>
              </div>
              <p>DONE</p>
          </div>
      </div>
    </div>
    <div class="form-footer">
      <p>BTC miner fee: 0.001 BTC</p>
    </div>
  </div>